# Dados brutos
train.csv
test.csv
transactions.csv
oil.csv
holidays_events.csv
stores.csv
sample_submission.csv

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Ambiente
.venv/
venv/
env/

# Sistema
.DS_Store
Thumbs.db